footer {
  position: relative;
  background-color: #14242A;
  color: $white;

  &:after {
    content: '';
    background-image: url("../assets/jpg/water-pattern.jpg");
    background-repeat: repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .15;
  }


  // Footer Flex Container
  .flex-container {
    padding: 3em 0;
    @media (max-width: 1100px) {
      flex-wrap: wrap;
      .logo-container {
        width: 100%;
        margin-bottom: 1em;
        span {
          display: none;
        }
      }
      .mailinglist {
        width: 100%;
        margin-bottom: 2em;
        text-align: center;
      }
      .legal-line {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  .flex-pad {
    padding: 0 2em;
    @media (max-width: $screen-xs) {
      padding: 0 0;
    }
  }

  /////////////////////////
  //Logo Container
  .logo-container {
    text-align: center;
    span {
      color: $grey;
      font-size: 1.35rem;
    }
  }

  //Footer Logo
  .site-logo {
    display: block;
    text-align: center;
    margin: 0px auto 1.75em;
    position: relative;
    width: 180px;
    height: 85px;
    cursor: pointer;
    .logo-on {
      opacity: 0;
    }
    .logo-off {
      opacity: 1;
    }
  }

  .logo-on,
  .logo-off {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .site-logo:hover {
    .logo-on {
      opacity: 1;
    }
    .logo-off {
      opacity: 0;
    }
  }

  /////////////////////////
  //Socials Container
  .socials {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    li {
      margin: 0 0.25em;
    }

    a {
      color: $white;
      padding: 0.25em;
      font-size: 1.35em;
      &:hover {
        color: $mint;
      }
    }
  }

  /////////////////////////
  //Legal Container
  .legal {
    display: block;
    margin: 0 auto;
    text-align: left;
    @include body-medium;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    a {
      color: $grey;
      &:hover {
        color: $mint;
      }
    }
  }

  .nav-footer {
    display: block;
    position: relative;
    @media (max-width: 1100px) {
      margin: 0em auto 2em auto;
    }

    ul {
      list-style: none;
      display: block;
      columns: 2;
      column-gap: 10px;

      li {
        display: block;
        margin-bottom: 5px;
      }

      @media (max-width: 1100px) {
        text-align: center;
        columns: 1;
        li {
          display: inline-block;
          margin-right: .5em;
        }
      }
      @media (max-width: $screen-xs) {
        li {
          display: block;
        }
      }
      a {
        @include body-bold;
        text-transform: uppercase;
        color: $white;
        font-size: 0.7em;
        letter-spacing: 2px;
        padding: 0.5em 0;

        &:hover {
          color: $grey;
        }
      }

      a.search {
        @include icomoon("search", "after", false);
      }
    }

  }

  /////////////////////////
  //Mailing List Container
  .mailinglist {
    flex-grow: 3;
    .h3 {
      text-transform: uppercase;
      font-size: .95em;
      letter-spacing: 2px;
      margin-bottom: 15px;
      display: block;
    }

    p {
      font-size: .8em;
    }
    .mc-container {
      display: flex;
      justify-content: center;
      @media (max-width: $screen-xs) {
        flex-wrap: wrap;
      }
    }
    input {
      border: none;
      background-color: $white;
      margin-right: 0.5em;
      height: 56px;
      border-radius: 5px;
      &.email {
        width: 65%;
        padding: 1em;
        @media (max-width: $screen-xs) {
          width: 100%;
          margin-bottom: .5em;
          margin-right: 0;
        }
      }
    }

    .button {
      @include body-bold;
      text-transform: uppercase;
      border: none;
      background: $mint;
      color: $white;
      line-height: 2.75;
      font-size: 0.85em;
      padding: 0.5em 1em;
      -webkit-appearance: none;
      border-radius: 5px;
      transition: all 0.3s ease;
      &:hover {
        background-color: $grey;
      }

      @media (max-width: $screen-xs) {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}


/////////////////////////
//Bottom Legal Line
.bottom-line {
  background-color: $grey;
  color: $white;
  text-align: center;
  padding: 1em 0;
  position: relative;
  z-index: 1;
  p {
    line-height: 1.5;
    font-size: 1.5rem;
    @media (max-width: $screen-xs) {
      font-size: 1.25rem;
    }
  }
}
