$desktopXL: max-width 1320px;
$desktopXLInverse: min-width 1321px;
$desktopLarge: max-width 1224px;
$desktopLargeInverse: min-width 1225px;
$desktopMedium: max-width 1180px;
$desktopMediumInverse: min-width 1181px;
$desktopSmall: max-width 1024px;
$desktopSmallInverse: min-width 1025px;
$tablet: max-width 900px;
$tabletInverse: min-width 901px;
$ipad: max-width 768px;
$ipadInverse: min-width 769px;
$mobileLarge: max-width 600px;
$mobileLargeInverse: min-width 601px;
$mobileSmall: max-width 480px;
$mobileSmallInverse: min-width 481px;
$iphone6: max-width 375px;
$iphone6Inverse: min-width 376px;
$iphone5: max-width 320px;
$iphone5Inervse: min-width 321px;
